


.deadd-noti-center {
    font-family: B612;
    font-size: 16px;
}


label.deadd-noti-center.notification.appname {
    font-style: italic;
}

label.deadd-noti-center.notification.body {
    padding: 16px;
}

label.deadd-noti-center.notification.title {
    font-size: 18px;
}

button.deadd-noti-center.notification {
    background-image: linear-gradient(to top right, blue 20%, #f0f 80%);
}


label.deadd-noti-center.in-center.appname {
    font-style: italic;    
}

label.deadd-noti-center.in-center.body {
    padding: 8px;
    margin-left: 8px;
}

label.deadd-noti-center.in-center.title {
    font-size: 18px;
    margin-top: 8px;
}

label.deadd-noti-center.in-center.time {
    font-family: Zekton;
    font-weight: bold;
}




label.deadd-noti-center.noti-center.time {
    font-family: Zekton;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 8px;
}

label.deadd-noti-center.date {
    font-family: Zekton;
    margin-left: 12px;
}

